.groupBossBarName {
  text-align: left;
  font-size: 10px;
  color: white;
  filter: drop-shadow(0 0 0.2rem black);
  font-family:'Times New Roman', Times, serif;
  padding: 3px;
  border-radius: 3px;
}

.groupBossBarCurrent {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-repeat: repeat;
  transition: width 4s;
  width: 100%;
}

.groupBossBarMax {
  position: absolute;
  background-size: 500%;
  transition: width 4s;
  width: 100%;
}

.groupBossBarTemp {
  position: absolute;
  border-radius: 3px;
  transition: width 1s;
  transition-delay: 3s;
  width: 100%;
}

.groupBossBar {
  z-index: 1000;
  width: 100%;
  position: relative;
}

#groupBossBarBar {
  z-index: 1000;
  margin-top: 5px;
}
